.u-section-1 .u-sheet-1 {
  min-height: 515px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Cormorant Infant";
  margin: 147px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Infant";
  margin: 27px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 316px;
  height: 258px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 324px;
  height: 258px;
  object-position: 50% 0%;
  margin: -81px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: "Cormorant Infant";
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-family: "Cormorant Infant";
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 261px;
    height: 213px;
  }

  .u-section-1 .u-image-2 {
    width: 267px;
    height: 213px;
    margin-top: -36px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 200px;
    height: 163px;
  }

  .u-section-1 .u-image-2 {
    width: 205px;
    height: 163px;
    margin-top: -38px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 220px;
  }

  .u-section-1 .u-image-2 {
    width: 310px;
    height: 206px;
    margin-top: -89px;
    margin-right: auto;
    margin-left: 230px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 278px;
    height: 195px;
    margin-top: -78px;
    margin-right: 0;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}