.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 98px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: "Cormorant Infant";
  margin: 172px -40px 0 100px;
}

.u-section-1 .u-text-2 {
  font-family: "Cormorant Infant";
  margin: 27px -40px 0 100px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 316px;
  height: 258px;
  object-position: 50% 16.67%;
  margin: -16px auto 0 -22px;
}

.u-section-1 .u-image-2 {
  width: 324px;
  height: 258px;
  object-position: 50% 10.96%;
  margin: -19px -30px -45px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-family: "Cormorant Infant";
  margin: 27px 100px 0 -40px;
}

.u-section-1 .u-text-4 {
  font-family: "Cormorant Infant";
  margin: 20px 100px 0 -40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 70px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 261px;
    height: 213px;
  }

  .u-section-1 .u-image-2 {
    width: 267px;
    height: 213px;
    margin-top: -36px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 70px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -117px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 200px;
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
    height: 195px;
    margin-top: -13px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 220px;
  }

  .u-section-1 .u-image-2 {
    width: 310px;
    height: 206px;
    margin-top: -89px;
    margin-right: auto;
    margin-left: 230px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -76px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 308px;
    height: 199px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 276px;
  }
}