.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: "Cormorant Infant";
  font-size: 2rem;
  margin: 50px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-3 {
  font-family: "Cormorant Infant";
  margin: 20px 0 0;
}

.u-section-1 h4 {
  font-family: "Cormorant Infant";
  margin: 20px 0 0;
}
